@import '../../../my-styles/variables.scss';
$icon-color: #666;
$text-color: #222;

.admin-sidebar {
    border-right: 1px solid #42526e1f;
    background-color: #fff;
    flex-direction: column;
    transition: width 0.5s;
    display: flex;
    padding: 0.5em 0.5em;
    height: 100%;
    width: 18em;

    .closer {
        justify-content: flex-end;
        margin-bottom: 0.5em;
        // color: $text-color;
        display: flex;

        i {
            cursor: pointer;
        }

        .bi-chevron-bar-right {
            display: none;
        }
    }

    .menu-items {
        height: 100%;

        .menu-item-list {
            padding: unset;

            .menu-item-container {
                .menu-item {
                    justify-content: space-between;
                    align-items: center;
                    // color: $text-color;
                    padding: 0.3em 0.5em;
                    cursor: pointer;
                    display: flex;

                    .bi-caret-down-fill {
                        display: none;
                    }

                    &.active {
                        background-color: $info;
                        border-radius: 0.3em;
                        color: #fff;

                        .name-container i, i {
                            color: #fff;
                        }
                    }

                    .name-container {
                        align-items: center;
                        width: fit-content;
                        display: flex;

                        i {
                            padding-right: 0.5em;
                            // color: $icon-color;
                            font-size: 1.3em;
                        }
                    }
        
                    .submenu-icon-container {
                        i {
                            font-size: 1em;
                        }
                    }
                }

                .submenu-item {
                    flex-direction: column;
                    margin-left: 1.5em;
                    padding: 0.25em 0;
                    list-style: none;
                    display: none;
                    height: 0;

                    .menu-item {
                        justify-content: flex-start;

                        i {
                            padding-right: 0.5em;
                        }
                    }
                }

                &.opened {
                    .menu-item {
                        .bi-caret-left-fill {
                            display: none;
                        }

                        .bi-caret-down-fill {
                            display: block;
                        }
                    }

                    .submenu-item {
                        transition: height 0.5s;
                        display: flex;
                        height: 100%;
                    }
                }
            }
        }
    }

    .sidebar-footer {
        button {
            width: 100%;

            i {
                margin-right: 1em;
            }
        }
    }
}

.admin-sidebar.closed {
    transition: width 0.5s;
    width: 5em;

    .closer {
        justify-content: center;

        .bi-chevron-bar-left {
            display: none;
        }

        .bi-chevron-bar-right {
            display: block;
        }
    }

    .company-logo-container img {
        height: 2em;
    }

    .menu-items {
        .menu-item-list {
            .menu-item {
                justify-content: center;

                .menu-item-name {
                    display: none;
                }
            }

            .submenu-icon-container {
                .bi {
                    display: none;
                }
            }
        }
    }

    .sidebar-footer {
        button {
            i {
                margin-right: unset;
            }
        
            span {
                display: none;
            }
        }
    }
}
