<div class="d-flex justify-content-between pb-3">
    <h3>{{project?.name}}</h3>

    <div class="d-flex">
        <button type="button" class="btn btn-light" (click)="navigateToProjectEditForm()">
            <i class="bi bi-pencil-square"></i>
        </button>
        <button type="button" class="btn btn-light ms-1" (click)="deleteProject()">
            <i class="text-danger cursor-pointer bi bi-x"></i>
        </button>
    </div>
</div>

<ul ngbNav #nav="ngbNav" class="nav-tabs" [destroyOnHide]="false">
    <li [ngbNavItem]="1">
        <a ngbNavLink>Jegyzetek</a>
        <ng-template ngbNavContent>
            <app-notes [projectid]="projectId"></app-notes>
        </ng-template>
    </li>
    <li [ngbNavItem]="2">
        <a ngbNavLink>Számlák</a>
        <ng-template ngbNavContent>
           <app-bill [projectid]="projectId"></app-bill>
        </ng-template>
    </li>
</ul>
  
<div [ngbNavOutlet]="nav" class="mt-2"></div>

<!-- <img src="http://drive.google.com/uc?export=view&id=13RvjKs-7ZRwbTEfWQP48RtqeocLOhY6R" alt=""> -->
