.galery-carousel-container {
    height: inherit;
    width: inherit;
    
    i {
        font-size: 2rem;
    }

    .galery-images-container {
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        max-width: calc(100% - 100px);

        img {
            // max-width: -webkit-fill-available;
            display: none;
            opacity: 0;

            &[attr-active="true"] {
                transition: opacity 0.5s;
                display: block;
                opacity: 1;
            }
        }
    }
}
