<ng-container  [ngSwitch]="control.type">
    <div class="bitcontrol-input-container" [attr.hassuffix]="control.suffix ? 'true' : 'false'">
        <select *ngSwitchCase="bittypes.select" class="form-control" [(ngModel)]="control._value" (ngModelChange)="control.emitValueChangeEvent()" focusable>
            <option *ngFor="let opt of control.options" [value]="opt.value">{{opt.name}}</option>
        </select>

        <textarea *ngSwitchCase="bittypes.textarea" class="form-control" [(ngModel)]="control._value" focusable></textarea>

        <input *ngSwitchCase="bittypes.checkbox" type="checkbox" class="form-check-input" [(ngModel)]="control._value" focusable />

        <input *ngSwitchCase="bittypes.number" type="number" class="form-control" [(ngModel)]="control._value" focusable />

        <input *ngSwitchCase="bittypes.password" type="password" class="form-control" [(ngModel)]="control._value" focusable />

        <div *ngSwitchCase="bittypes.longdate" class="input-group longdatepicker-input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="dateValue" (ngModelChange)="onDateValueChange($event)" ngbDatepicker #d="ngbDatepicker" focusable />
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                <i class="bi bi-calendar3"></i>
            </button>
        </div>
        
        <file-input *ngSwitchCase="bittypes.file" (filesSelected)="onFileSelect($event)"></file-input>
        
        <input *ngSwitchDefault type="text" class="form-control" [(ngModel)]="control._value" focusable/>

        <div class="bitcontrol-suffix" *ngIf="control.suffix">{{control.suffix}}</div>
    </div>

    <div class="biterror-container">
        <p *ngFor="let err of control.errors">{{err}}</p>
    </div>
</ng-container>
