<div class="d-flex flex-column">
    <div class="d-flex">
        <textarea rows="3" class="form-control" [(ngModel)]="noteContent" (keydown.control.enter)="createNote()"></textarea>

        <button type="button" class="btn btn-primary ms-2" (click)="createNote()">
            <i class="bi bi-send"></i>
        </button>
    </div>

    <div class="card mt-1" *ngFor="let note of _notes">
        <div class="card-body d-flex w-100">
            <span class="w-100">{{note.content}}</span>

            <i class="text-danger cursor-pointer bi bi-x" (click)="deleteNote(note.id)"></i>
        </div>
    </div>
</div>
