/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import '~bootstrap/scss/bootstrap.scss';


@import './my-styles/bootstrap-extension.scss';
@import './my-styles/common-styles.scss';
@import './my-styles/bgs-colors.scss';
@import './my-styles/table.scss';
@import './my-styles/form.scss';
@import './my-styles/flex.scss';
@import './my-styles/grid.scss';
// @import './styles/bgs-colors.scss';

@font-face {
    font-family: 'myFont';
    src: url("./my-styles/fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
}

* {
    font-family: 'myFont', sans-serif !important;
    letter-spacing: 0.03em;
    font-weight: 500;
}

body {
    // background: linear-gradient(45deg, rgba(236,236,236,1) 0%, rgba(233,233,233,1) 35%, rgba(221,221,221,1) 100%);
    background-color: $global-background-color;
    color: $font-color;
}

i {
    color: $font-color;
}

.card {
    align-items: center;

    img {
        padding-bottom: 2rem;
        padding-top: 1rem;
        width: 50%;
    }

    .card-body {
        .card-title {
            text-align: center;
        }
    }
}

.navbar-page-container {
    flex-direction: column;
    display: flex;
    height: 100vh;
    width: 100vw;

    .page-content {
        height: calc(100vh - 56px);
        background-color: #fff;
        width: inherit;
        overflow: auto;
    }
}
