@import '../my-styles/variables.scss';

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;

    thead {
        border-bottom: 2px solid $border-color;

        tr {
            th {
                padding: 0.25em 0.5em;
                border: none;
                box-sizing: border-box;
                font-size: 12px;
                font-weight: 600;
                position: relative;
                text-align: left;
                vertical-align: top;
            }
        }
    }

    tbody {
        border-bottom: 2px solid $border-color;
        vertical-align: top;

        tr {
            border-collapse: collapse;

            td {
                overflow: hidden;
                border: none;
                padding: 0.25em 0.5em;
                text-align: left;
            }
        }
    }
}
