.webshop-page-container {
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    .page-content {
        width: 100vw;
        height: calc(100vh - 56px);

        .categories {
            min-width: 17rem;
            width: 17rem;
        }
        
        .items {
            width: -webkit-fill-available;
            overflow: hidden;
            overflow-y: auto;
        }
    }
}
