@import './variables.scss';

ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;

    li {
        position: relative;
        display: block;
        padding: 0.5rem 1rem;
        color: $text-color;
        text-decoration: none;
        background-color: $white;
        border: 1px solid $border-color;

        &:first-child {
            border-top-right-radius: inherit;
            border-top-left-radius: inherit;
        }

        &:last-child {
            border-bottom-right-radius: inherit;
            border-bottom-left-radius: inherit;
        }

        &.active {
            background-color: $text-color;
            color: $white;
        }
    }
}
