.galeries-container {
    height: calc(100vh - 56px);
    padding: 0.5rem;
    overflow: auto;
    width: 100vw;

    .card {
        max-width: 80vw;

        img {
            padding-bottom: unset;
            padding-top: unset;
            width: unset;
        }
    }
}
