@import '../../my-styles/bgs-colors.scss';

.partial-margin-bottom {
    margin-bottom: 5rem;
}

.lead {
    font-weight: 400;
}

.welcome-div {
    background-image: url('~/src/assets/welcome.png');
    background-position-y: center;
    margin-top: unset !important;
    background-repeat: no-repeat;
    background-size: 100% auto;

    .content-container {
        background-color: #ffffff75;
        padding: 1rem 0;
    }
}

.card-container {
    background-color: $brown;

    .container {
        justify-content: space-evenly;
        flex-wrap: wrap;
        display: flex;
        padding: 2rem;

        app-card {
            margin-bottom: 0.5rem;
        }
    }
}

.picsum-img-wrapper {
    height: 60vh;
    width: 80vw;
    
    img {
        object-position: center;
        width: inherit;
    }
}

footer.border-top {
    border-top: 1px solid $brown !important;
}
