<app-navbar [navitems]="navItems"></app-navbar>

<div class="px-4 py-5 my-5 text-center welcome-div">
    <div class="content-container">

        <img class="d-block mx-auto mb-4" src="assets/bgs-transparent.png" alt="" height="57">
        
        <h1 class="display-5 fw-bold">Centered hero</h1>
        
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most
                popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system,
                extensive prebuilt components, and powerful JavaScript plugins.</p>
                <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
                </div> -->
        </div>
    </div>
</div>

<div class="container" id="welcome-about-us">

    <div class="partial-margin-bottom">
        <h3 class="text-center">Rólunk</h3>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, ipsam ipsa omnis
            molestias enim commodi culpa temporibus laboriosam nostrum neque quae quam laudantium aliquam. Praesentium
            nostrum dolor saepe accusantium possimus.</p>
    </div>

</div>

<div class="card-container" id="welcome-cards">
    <div class="container partial-margin-bottom">
        <app-card *ngFor="let card of cards" [imgsrc]="card.imgsrc" [title]="card.title" [content]="card.content"></app-card>
    </div>
</div>

<div class="container">
    <div class="d-flex flex-column align-items-center partial-margin-bottom" id="welcome-carousel">
        <ngb-carousel #carousel [interval]="3000" [pauseOnHover]="true" [pauseOnFocus]="true">
            <ng-template ngbSlide *ngFor="let img of images; index as i">
                <div class="carousel-caption">
                    <h3>{{img.title}}</h3>
                </div>
                
                <a class="cursor-pointer" rel="nofollow noopener noreferrer" (click)="navigateToGalerie(img.id)">  
                    <div class="picsum-img-wrapper">
                        <img [src]="img.imgsrc" [alt]="img.title">
                    </div>
                </a>
            </ng-template>
        </ngb-carousel>

        <div class="d-flex justify-content-center p-4 pb-0">
            <button class="btn btn-light btn-lg" routerLink="/galeriak"><i class="bi bi-images"></i> Galériák</button>
        </div>
    </div>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">© {{currentYear}} BGS Carpentry</p>
    
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img class="d-block mx-auto mb-4" src="assets/bgs-transparent.png" alt="" height="32">
        </a>
    
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
    </footer>
</div>