@import '../styles/variables.scss';

.sidebar-container {
    background-color: $gray-background;
    max-width: 20rem;
    height: 100vh;
    width: 20rem;

    .links {
        .link {
            padding: 0.5rem 0.5rem;

            &.active {
                background-color: $border-color;
                border-radius: 0.25rem;
                border: $border;
            }
        }
    }
}
